<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- a partir de aquí se definen los beans -->
	<!-- bean mientrenador asociado a la clase EntrenadorFutbol -->
	<bean id="mientrenaFut" class="com.spring.EntrenadorFutbol"></bean>
	<!-- bean mientrenador asociado a la clase EntrenadorBaloncesto -->
	<bean id="mientrenaBal" class="com.spring.EntrenadorBaloncesto"></bean>
</beans>